# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Goofy backups
*.bkp
*.dtmp

# Total crap from creating a workspace in Beaver
.metadata/
.dbeaver/
.settings/
.project
Scripts/
General/
# https://git-scm.com/docs/gitignore#_pattern_format
*/_log/*.log
*/_data/*.xml
*/_data/*.xlsx
*/_data/*.csv
*/_log/__sanity_checks/*.*
# Stupid backups
~*
General/text.txt
x.xml
x.xsd

# I want one copy of these, but not sure how to accomplish as more of these get added. every day, a new one.
simplified/shared_code/private_functions.ps1
simplified/_log/__sanity_checks/history/*__sanity_check_without_db_connection_after_session_ends.json
simplified/shared_code/_log/_start_new_batch_run_session.ps1.log.txt
simplified/shared_code/_log/zzz_end_batch_run_session.ps1.log.txt
simplified/shared_code/_log/_start_new_batch_run_session.ps1.log.txt
simplified/shared_code/_log/_start_new_batch_run_session.ps1.log.txt
simplified/shared_code/_log/generate_clean_project_scheduled_tasks.ps1.log.txt
simplified/_data/.~lock.user_excel_interface.xlsx#
